body{
	background-image: url("https://wallpapers.com/images/hd/4k-tech-twtykjtj0sv4hi62.jpg"); 
	background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
}
h1{
	font-family: Verdana, sans-serif; 
	color: blue; 
	text-align: center;
	margin-top: 5%; 
}
h2{
	font-family: Verdana, sans-serif; 
	color: rgb(0, 128, 255); 
	text-align: center;
}
p{
	font-family: Arial, sans-serif; 
	font-size: 18px; 
	margin-top: 3%; 
	text-align: center; 
	color: gray; 
}
